.notification {
    padding: 1em;
    color: white;
}

.error {
    background: red;
}

.success {
    background: green;
}

.help {
    font-size: .8rem;
    color: red;
}

form div {
    margin-bottom: 1em;
}
